[Unit]
Description=ssr
After=rc-local.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/nohup /usr/bin/python3 /root/shadowsocks/server.py m>> /root/shadowsocks/ssr.log 2>&1 &
ExecStop=/usr/bin/bash /ssr/shadowsocks/stop.sh
Restart=always
LimitNOFILE=512000

[Install]
WantedBy=multi-user.target
